@import url("https://fonts.googleapis.com/css2?family=Labrada&display=swap");


*{
    box-sizing: border-box;
}

body {
    font-family: 'Labrada', serif;
    min-height: 100vh;
    background: linear-gradient(to top,#cf7485, #8b8496 ,#1aa3b6 ,#11516a);    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 1000px;
    background: rgba(255, 255, 255, 0.699);
    padding: 6rem;
    border-radius: 10px;
    position: relative;

}

.icon-info{
    display: flex;
    align-items: center;
}

.user-icon{
    align-items: left;
    margin-right: 2px;
    padding: 0.5rem;
}

.logout{
    position: absolute;
    top: 100px;
    right: 100px;
}

.user-icon img{
    width: 200px;
    height: 200px;
}

.user-info{
    margin-left: 1rem;
    text-align: left;
}

.user-info .name{
    font-size: 45px;
    color: #000000;
    font-weight: bold;
}

.user-info .info{
    font-size: 32px;
    color: #727272;
}

.form{
    display: flex;
    flex-direction: flex;
    gap: 100px;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
    padding: 1rem;
    text-align: center;
    font-weight: 100;
    font-size: 24px;
}


.form input:focus{
    background: white;
}

.form button{
    background: rgba(255, 255, 255, .5);
    padding: 1.8rem 1.8rem;
    border-radius: 1000px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
    text-align: center;
    font-size: larger;
    margin-bottom: 10px;
}

.form img{
    width: 150px;
    height: 150px;
}

.form button:hover{
    background-color: #525252;
    cursor: pointer;
}

