@import url("https://fonts.googleapis.com/css2?family=Labrada&display=swap");


*{
    box-sizing: border-box;
}

body {
    font-family: 'Labrada', serif;
    min-height: 100vh;
    background: linear-gradient(to top,#cf7485, #8b8496 ,#1aa3b6 ,#11516a);    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo{
    align-items: center;
    padding: 2.25rem;
    background: rgba(240, 240, 240, 0.5);
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.logo img{
    height: 400px;
    width: 400px;
}

.container{
    width: 600px;
    background: rgba(255, 255, 255, .5);
    padding: 4rem;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.login-header{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center;
    color: #393939;
}

.login-form-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.login-form-content .form-item{
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(1rem * .8);
    margin-bottom: 2rem;
}

.login-form input[type="text"],
.login-form input[type="password"]{
    border: none;
    outline: none;
    background: rgba(255, 255, 255, .3);
    padding: 1rem 1.5rem;
    padding-left: calc(1rem * 3.5);
    border-radius: 100px;
    width: 100%;
    transition: background .5s;
}

.login-form input:focus{
    background: white;
}

.login-form button{
    background: #505050;
    color: white;
    padding: 1.2rem;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background .5s;
    text-align: center;
}

.login-form button:hover{
    background-color: #000000;
    cursor: pointer;
}

